<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('gioco.index') }}">RPG Web</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.index') }}">Home</a></li>
        <!-- Commento temporaneamente i link alle route non ancora definite -->
        {# <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.new_game') }}">Nuovo Gioco</a></li> #}
        {# <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.load_game') }}">Carica Partita</a></li> #}
        {# <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.select_mission') }}">Missioni</a></li> #}
        {# <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.battle') }}">Battaglia</a></li> #}
        {# <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.inventory') }}">Inventario</a></li> #}
        <!-- link alla pagina di test -->
       {# <li class="nav-item"><a class="nav-link" href="{{ url_for('gioco.test_inventory') }}">Test Inventario</a></li>#}
      </ul> 
    </div>
  </div>
</nav>