{% extends "layout.html" %}
{% block title %}Menu iniziale{% endblock %}

{% block content %}
<h2>Benvenuto nel gioco GDR</h2>
<p>Seleziona un'opzione per iniziare.</p>
<div class="d-grid gap-2 col-6 mx-auto">
    
    <a href="{{ url_for('characters.create_char') }}" class="btn btn-dark btn-lg mb-2">Crea Personaggi</a>
    <!-- Commenta temporaneamente i link alle route non definite -->
    {# <a href="{{ url_for('load_game') }}" class="btn btn-secondary btn-lg">Carica Gioco</a> #}
   
    <!-- Aggiungi link di test per la lista dei personaggi -->
    <a href="{{ url_for('characters.mostra_personaggi') }}" class="btn btn-primary btn-lg mb-2">Lista personaggi</a>

    <a href="{{ url_for('inventory.inventory') }}" class="btn btn-primary btn-lg mb-2">Test Inventario</a>
    <a href="{{ url_for('mission.select_mission') }}" class="btn btn-success btn-lg mb-2">Seleziona Missione</a>

    <a href="{{ url_for('environment.select_environment') }}" class="btn btn-danger btn-lg mb-2">Seleziona Ambiente</a>
    <a href="{{ url_for('environment.show_environment') }}" class="btn btn-warning btn-lg mb-2">Mostra Ambiente</a>
    <a href="{{ url_for('battle.select_char') }}" class="btn btn-dark btn-lg mb-2">Seleziona Personaggio</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}